---
name: message
url: /message
controller: MessageCtrl
---


<div class="grid-block horizontal message-box">
  <div class="grid-block medium-3 vertical message">
    <div class="grid-block align-justify horizontal message-from-box">
      <div class="message-title title">
        <header>Messages</header>
      </div>
      <div class="message-title">
        <a>New</a>
      </div>
    </div>
    <div class="grid-block message-from"> Message 1</div>
    <div class="grid-block message-from"> Message 2</div>
    <div class="grid-block message-from"> Message 3</div>
    <div class="grid-block message-from"> Message 4</div>
  </div>

  <div class="grid-block medium-9 vertical message">
    <div class="grid-block message-content"> Message 1</div>
    <div class="grid-block message-content"> Message 2</div>
    <div class="grid-block message-content"> Message 3</div>
    <div class="grid-block message-content"> Message 4</div>
    
  </div>
</div>