---
name: message
url: /message
controller: MessageCtrl
---


<div class="block-list grid-block horizontal">
<div class="block-list grid-block medium-3">
<header>List title</header>
<ul>
 
<li class="with-chevron"><a href="#">List item 1</a></li>
<li class="with-chevron"><a href="#">List item 2</a></li>
<li><a href="#">List item 3</a></li>
</ul>
</div>

<div class="block-list grid-block medium-9">
<header>List title</header>
<ul>
<li><a href="#">List item 1</a></li>
<li><a href="#">List item 2</a></li>
<li><a href="#">List item 3</a></li>
</ul>
</div>
</div>